In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn.linear_model as lm
import pickle
from sklearn.externals import joblib

In [3]:
df=pd.read_csv("Fuelconsumption.csv")
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [4]:
df.describe()

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

In [5]:
value=np.random.rand(len(df))<.8
train=df[value]
test=df[~value]

In [6]:
print(train)

      MODELYEAR   MAKE       MODEL    VEHICLECLASS  ENGINESIZE  CYLINDERS  \
0          2014  ACURA         ILX         COMPACT         2.0          4
1          2014  ACURA         ILX         COMPACT         2.4          4
2          2014  ACURA  ILX HYBRID         COMPACT         1.5          4
3          2014  ACURA     MDX 4WD     SUV - SMALL         3.5          6
5          2014  ACURA         RLX        MID-SIZE         3.5          6
...         ...    ...         ...             ...         ...        ...
1060       2014  VOLVO     S80 AWD        MID-SIZE         3.0          6
1061       2014  VOLVO        XC60     SUV - SMALL         3.2          6
1063       2014  VOLVO    XC60 AWD     SUV - SMALL         3.2          6
1065       2014  VOLVO    XC70 AWD     SUV - SMALL         3.2          6
1066       2014  VOLVO    XC90 AWD  SUV - STANDARD         3.2          6

     TRANSMISSION FUELTYPE  FUELCONSUMPTION_CITY  FUELCONSUMPTION_HWY  \
0             AS5        Z                   9.9                  6.7
1              M6        Z                  11.2                  7.7
2             AV7        Z                   6.0                  5.8
3             AS6        Z                  12.7                  9.1
5             AS6        Z                  11.9                  7.7
...           ...      ...                   ...                  ...
1060          AS6        X                  13.2                  9.5
1061          AS6        X                  13.0                  8.9
1063          AS6        X                  13.2                  9.5
1065          AS6        X                  12.9                  9.3
1066          AS6        X                  14.9                 10.2

      FUELCONSUMPTION_COMB  FUELCONSUMPTION_COMB_MPG  CO2EMISSIONS
0                      8.5                        33           196
1                      9.6                        29           221
2                      5.9                        48           136
3                     11.1                        25           255
5                     10.0                        28           230
...                    ...                       ...           ...
1060                  11.5                        25           264
1061                  11.2                        25           258
1063                  11.5                        25           264
1065                  11.3                        25           260
1066                  12.8                        22           294

[881 rows x 13 columns]

In [7]:
print(test)

      MODELYEAR          MAKE       MODEL VEHICLECLASS  ENGINESIZE  CYLINDERS  \
4          2014         ACURA     RDX AWD  SUV - SMALL         3.5          6
6          2014         ACURA          TL     MID-SIZE         3.5          6
10         2014         ACURA         TSX      COMPACT         2.4          4
13         2014  ASTON MARTIN      RAPIDE   SUBCOMPACT         5.9         12
14         2014  ASTON MARTIN  V8 VANTAGE   TWO-SEATER         4.7          8
...         ...           ...         ...          ...         ...        ...
1037       2014    VOLKSWAGEN       JETTA      COMPACT         2.0          4
1052       2014    VOLKSWAGEN      TIGUAN  SUV - SMALL         2.0          4
1059       2014         VOLVO         S80     MID-SIZE         3.2          6
1062       2014         VOLVO    XC60 AWD  SUV - SMALL         3.0          6
1064       2014         VOLVO    XC70 AWD  SUV - SMALL         3.0          6

     TRANSMISSION FUELTYPE  FUELCONSUMPTION_CITY  FUELCONSUMPTION_HWY  \
4             AS6        Z                  12.1                  8.7
6             AS6        Z                  11.8                  8.1
10             M6        Z                  11.2                  8.1
13             A6        Z                  18.0                 12.6
14            AM7        Z                  17.4                 11.3
...           ...      ...                   ...                  ...
1037           M5        X                  10.4                  7.2
1052           M6        Z                  13.6                  9.2
1059          AS6        X                  11.9                  8.1
1062          AS6        X                  13.4                  9.8
1064          AS6        X                  13.4                  9.8

      FUELCONSUMPTION_COMB  FUELCONSUMPTION_COMB_MPG  CO2EMISSIONS
4                     10.6                        27           244
6                     10.1                        28           232
10                     9.8                        29           225
13                    15.6                        18           359
14                    14.7                        19           338
...                    ...                       ...           ...
1037                   9.0                        31           207
1052                  11.6                        24           267
1059                  10.2                        28           235
1062                  11.8                        24           271
1064                  11.8                        24           271

[186 rows x 13 columns]

In [8]:
regr=lm.LinearRegression()
train_x=np.asanyarray(train[["ENGINESIZE","CYLINDERS"]])
train_y=np.asanyarray(train[["CO2EMISSIONS"]])
regr.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
print(regr.coef_)

[[26.96855334 10.28198287]]

In [10]:
print(regr.intercept_)

[106.65227652]

In [11]:
#Saving the model

joblib.dump(regr,"model1.pkl")

['model1.pkl']

In [12]:
test_x=np.asanyarray(test[["ENGINESIZE","CYLINDERS"]])
test_y=np.asanyarray(test[["CO2EMISSIONS"]])
prediction=regr.predict(test_x)
print(prediction)

[[262.73411042]
 [262.73411042]
 [212.50473601]
 [389.15053563]
 [315.66034016]
 [201.71731467]
 [249.24983374]
 [249.24983374]
 [201.71731467]
 [249.24983374]
 [302.17606349]
 [249.24983374]
 [249.24983374]
 [296.78235282]
 [391.84739097]
 [391.84739097]
 [249.24983374]
 [249.24983374]
 [249.24983374]
 [201.71731467]
 [249.24983374]
 [201.71731467]
 [249.24983374]
 [249.24983374]
 [249.24983374]
 [307.56977416]
 [307.56977416]
 [249.24983374]
 [249.24983374]
 [265.43096575]
 [185.53618267]
 [215.20159134]
 [201.71731467]
 [265.43096575]
 [356.11317017]
 [356.11317017]
 [265.43096575]
 [265.43096575]
 [185.53618267]
 [185.53618267]
 [265.43096575]
 [331.84147216]
 [331.84147216]
 [331.84147216]
 [331.84147216]
 [350.7194595 ]
 [350.7194595 ]
 [265.43096575]
 [356.11317017]
 [284.30895309]
 [185.53618267]
 [185.53618267]
 [331.84147216]
 [265.43096575]
 [265.43096575]
 [265.43096575]
 [212.50473601]
 [342.6288935 ]
 [342.6288935 ]
 [265.43096575]
 [265.43096575]
 [361.50688084]
 [265.43096575]
 [265.43096575]
 [185.53618267]
 [265.43096575]
 [201.71731467]
 [201.71731467]
 [268.12782108]
 [190.92989333]
 [201.71731467]
 [215.20159134]
 [201.71731467]
 [268.12782108]
 [201.71731467]
 [190.92989333]
 [331.84147216]
 [331.84147216]
 [350.7194595 ]
 [350.7194595 ]
 [318.35719549]
 [350.7194595 ]
 [284.30895309]
 [284.30895309]
 [331.84147216]
 [356.11317017]
 [212.50473601]
 [356.11317017]
 [331.84147216]
 [262.73411042]
 [262.73411042]
 [262.73411042]
 [262.73411042]
 [323.75090616]
 [201.71731467]
 [268.12782108]
 [268.12782108]
 [268.12782108]
 [323.75090616]
 [249.24983374]
 [323.75090616]
 [323.75090616]
 [212.50473601]
 [265.43096575]
 [265.43096575]
 [257.34039975]
 [196.323604  ]
 [196.323604  ]
 [201.71731467]
 [190.92989333]
 [190.92989333]
 [190.92989333]
 [201.71731467]
 [212.50473601]
 [212.50473601]
 [215.20159134]
 [262.73411042]
 [235.76555707]
 [262.73411042]
 [312.96348482]
 [262.73411042]
 [262.73411042]
 [201.71731467]
 [268.12782108]
 [201.71731467]
 [249.24983374]
 [188.233038  ]
 [215.20159134]
 [201.71731467]
 [262.73411042]
 [262.73411042]
 [315.66034016]
 [262.73411042]
 [262.73411042]
 [315.66034016]
 [262.73411042]
 [262.73411042]
 [337.23518283]
 [196.323604  ]
 [190.92989333]
 [190.92989333]
 [190.92989333]
 [190.92989333]
 [190.92989333]
 [190.92989333]
 [201.71731467]
 [268.12782108]
 [262.73411042]
 [215.20159134]
 [276.21838709]
 [190.92989333]
 [190.92989333]
 [190.92989333]
 [262.73411042]
 [262.73411042]
 [215.20159134]
 [260.03725508]
 [260.03725508]
 [270.82467642]
 [270.82467642]
 [249.24983374]
 [249.24983374]
 [318.35719549]
 [265.43096575]
 [265.43096575]
 [201.71731467]
 [196.323604  ]
 [201.71731467]
 [201.71731467]
 [215.20159134]
 [262.73411042]
 [196.323604  ]
 [215.20159134]
 [276.21838709]
 [220.59530201]
 [312.96348482]
 [342.6288935 ]
 [262.73411042]
 [196.323604  ]
 [201.71731467]
 [201.71731467]
 [201.71731467]
 [201.71731467]
 [254.64354441]
 [249.24983374]
 [249.24983374]]

In [13]:
predict_df=pd.read_csv("check1.csv")
predict_df.head()

   ENGINESIZE  CYLINDERS  CO2EMISSIONS
0         3.2        5.8             0

In [14]:
predict_x=np.asanyarray(predict_df[["ENGINESIZE","CYLINDERS"]])
prediction=regr.predict(predict_x)
print(prediction)

[[252.58714784]]